In [1]:
#Code Snippet 24
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkMisingData").getOrCreate()
df = spark.read.csv("employee_data.csv",header=True,inferSchema=True)
df.show()
print("Data after dropping the rows having null values")
df.na.drop().show()
print("Data after dropping the rows having atleast 4 non-null values")
df.na.drop(thresh=4).show()
print("Data after dropping the rows having null values in hours column")
df.na.drop(subset="hours").show()
print("Data after filling the rows having null values in hours column")
df.na.fill(12,subset="hours").show()
from pyspark.sql.functions import mean #importing the mean function
mean_value = df.select(mean("hours")).collect()[0][0] #calculating mean value 
print("Data after filling the rows having null values in hours column with calculated mean value")
df.na.fill(mean_value,subset="hours").show()
print("Data after replacing a specific rows value in employee_name column")
df.na.replace("Pichai","Sundar",subset="employee_name").show()

+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington| null|
|       A003|         Jeff|  56|      null| null|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

Data after dropping the rows having null values
+-----------+-------------+---+----------+-----+
|employee_id|employee_name|age|  location|hours|
+-----------+-------------+---+----------+-----+
|       G001|       Pichai| 47|California|   14|
+-----------+-------------+---+----------+-----+

Data after dropping the rows having atleast 4 non-null values
+-----------+-------------+---+----------+-----+
|employee_id|employee_name|age|  location|hours|
+-----------+-------------+---+----------+-----+
|       G001|       Pichai| 47|California|   14|
|       M002|         Bill| 64|Washington| null|
+-----------+-------------+---+----------+-----+

Data after dropping the rows having null values in hours column
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

Data after filling the rows having null values in hours column
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington|   12|
|       A003|         Jeff|  56|      null|   12|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

Data after filling the rows having null values in hours column with calculated mean value
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington|   13|
|       A003|         Jeff|  56|      null|   13|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

Data after replacing a specific rows value in employee_name column
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Sundar|  47|California|   14|
|       M002|         Bill|  64|Washington| null|
|       A003|         Jeff|  56|      null| null|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+