In [4]:
#Code Snippet 19
from pyspark.sql import SparkSession #importing SparkSession
spark = SparkSession.builder.appName("Rows&Columns").getOrCreate() #creating a Spark Session
df = spark.read.csv("employee.csv",header=True,inferSchema=True) #reading csv data
df.show() #displaying the data
df["age"] #accessing the column object age via dataframe
print("Single Column Data")
df.select("age").show() #accessing single column using select, returns a dataframe
print("Multiple Column Data")
df.select(["employee_name","age"]).show() #accessing multiple column using select, returns a dataframe
df_new = df.withColumn("productive_hours",df["hours"]-3) #Adding a new column from existing one with some operation
df_renamed = df_new.withColumnRenamed("hours","working_hours") #Renamed hours to working_hours
df_final = df_renamed.drop("location") #dropping the column location
print("Data with the new column productive_hours, hours Column Renamed to working_hours and dropped the location column")
df_final.show()
print("First three Data points\n")
print(df_final.head(3)) #Fetching the list of the first 3 values in the dataframe
print("\nSummary of Age, Working hours and Productive hours")
summary_data = df_final.select(["age","working_hours","productive_hours"])
summary_data.describe().show()

+-----------+-------------+---+----------+-----+
|employee_id|employee_name|age|  location|hours|
+-----------+-------------+---+----------+-----+
|       G001|       Pichai| 47|California|   14|
|       M002|         Bill| 64|Washington|   10|
|       A003|         Jeff| 56|Washington|   11|
|       A004|         Cook| 59|California|   12|
+-----------+-------------+---+----------+-----+

Single Column Data
+---+
|age|
+---+
| 47|
| 64|
| 56|
| 59|
+---+

Multiple Column Data
+-------------+---+
|employee_name|age|
+-------------+---+
|       Pichai| 47|
|         Bill| 64|
|         Jeff| 56|
|         Cook| 59|
+-------------+---+

Data with the new column productive_hours, hours Column Renamed to working_hours and dropped the location column
+-----------+-------------+---+-------------+----------------+
|employee_id|employee_name|age|working_hours|productive_hours|
+-----------+-------------+---+-------------+----------------+
|       G001|       Pichai| 47|           14|              11|
|       M002|         Bill| 64|           10|               7|
|       A003|         Jeff| 56|           11|               8|
|       A004|         Cook| 59|           12|               9|
+-----------+-------------+---+-------------+----------------+

First three Data points

[Row(employee_id='G001', employee_name='Pichai', age=47, working_hours=14, productive_hours=11), Row(employee_id='M002', employee_name='Bill', age=64, working_hours=10, productive_hours=7), Row(employee_id='A003', employee_name='Jeff', age=56, working_hours=11, productive_hours=8)]

Summary of Age, Working hours and Productive hours
+-------+----------------+-----------------+-----------------+
|summary|             age|    working_hours| productive_hours|
+-------+----------------+-----------------+-----------------+
|  count|               4|                4|                4|
|   mean|            56.5|            11.75|             8.75|
| stddev|7.14142842854285|1.707825127659933|1.707825127659933|
|    min|              47|               10|                7|
|    max|              64|               14|               11|
+-------+----------------+-----------------+-----------------+