In [1]:
#Code Snippet 21
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkFilters").getOrCreate()
df = spark.read.csv("items_bought.csv",header=True,inferSchema=True)
df.show(4)
print("Result after filtering total_amount greater than 1500")
df.filter("total_amount>1500").show() #filtering based on SQL type syntax
print("Result after filtering based on item_price and tax_amount")
df.filter((df["item_price"]>1000)&(df["tax_amount"]>500)).show() #filtering based on multiple column conditions
result_data = df.filter((df["total_amount"]==1924.74)).collect() #collecting the record based on a condition
resulting_date = result_data[0]["date"] #fetching data from the collected result
print("The collected data point's date value is "+resulting_date)
result_data[0].asDict() #converting the result to a dictionary

+----------+---------+----------+--------+----------+------------+
|      date|item_name|item_price|quantity|tax_amount|total_amount|
+----------+---------+----------+--------+----------+------------+
|11-10-2018|     Beer|     110.5|       2|     53.04|      163.54|
|14-02-2018|   Whisky|    1250.0|       1|     300.0|      1550.0|
|23-03-2020|   Whisky|    1300.5|       2|    624.24|     1924.74|
|05-10-2018|      Rum|     550.0|       2|     264.0|       814.0|
+----------+---------+----------+--------+----------+------------+
only showing top 4 rows

Result after filtering total_amount greater than 1500
+----------+---------+----------+--------+----------+------------+
|      date|item_name|item_price|quantity|tax_amount|total_amount|
+----------+---------+----------+--------+----------+------------+
|14-02-2018|   Whisky|    1250.0|       1|     300.0|      1550.0|
|23-03-2020|   Whisky|    1300.5|       2|    624.24|     1924.74|
+----------+---------+----------+--------+----------+------------+

Result after filtering based on item_price and tax_amount
+----------+---------+----------+--------+----------+------------+
|      date|item_name|item_price|quantity|tax_amount|total_amount|
+----------+---------+----------+--------+----------+------------+
|23-03-2020|   Whisky|    1300.5|       2|    624.24|     1924.74|
+----------+---------+----------+--------+----------+------------+

The collected data point's date value is 23-03-2020

{'date': '23-03-2020',
 'item_name': 'Whisky',
 'item_price': 1300.5,
 'quantity': 2,
 'tax_amount': 624.24,
 'total_amount': 1924.74}